numpy==1.26.4
prometheus_client==0.23.1
python-can==4.6.1
pyserial==3.5
requests==2.32.5
Adafruit-Blinka==8.67.0
adafruit-circuitpython-ads1x15==3.0.2
adafruit-circuitpython-busdevice==5.2.14
Adafruit-PlatformDetect==3.84.1
